// Mixins Here

.border-radius(@px) {
  border-radius: @px;
}

.flex(@direction) {
  display: flex;
  flex-direction: @direction;
}

.button(@background; @fontColor;) {
  display: inline-block;
  background-color: @background;
  color: @fontColor;
  .border-radius(0.5rem);
  font-size: 1.85rem;
  text-align: center;
  padding: 0.80rem 1.8rem;
}